<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jm.pivot"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/pivot_icon"
        android:label="@string/app_name" >
        <activity
            android:name="mp.pivot.PivotActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mp.pivot.MazeActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>